.VkIdWebSdk__button_reset,
.VkIdWebSdk__iconButton_reset {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
}

.VkIdWebSdk__button,
.VkIdWebSdk__iconButton {
  background: var(--accent_alternate);
  cursor: pointer;
  transition: all .1s ease-out;
}

.VkIdWebSdk__button:hover,
.VkIdWebSdk__iconButton:hover {
  opacity: 0.8;
}

.VkIdWebSdk__button:active,
.VkIdWebSdk__iconButton:active {
  opacity: .7;
  transform: scale(.97);
}

.VkIdWebSdk__button {
  border-radius: 8px;
  width: 100%;
  min-height: 44px;
}

.VkIdWebSdk__button_container {
  display: flex;
  align-items: center;
  padding: 8px 10px;
}

.VkIdWebSdk__iconButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
}

.VkIdWebSdk__iconButton_icon {
  display: flex;
}

.VkIdWebSdk__button_icon,
.VkIdWebSdk__button_text {
  display: flex;
}

.VkIdWebSdk__button_icon + .VkIdWebSdk__button_text {
  margin-left: -28px;
}

.VkIdWebSdk__button_text {
  font-family: -apple-system, system-ui, "Helvetica Neue", Roboto, sans-serif;
  flex: 1;
  justify-content: center;
  color: var(--vkui-light-text-text-contrast);
}
