.VkIdWebSdk__snackbar {
  display: flex;
  align-items: center;
  min-width: 351px;
  padding: 16px 16px 16px 56px;
  box-sizing: border-box;
  background: var(--demo_vkui--color_background_content);
  border-radius: var(--demo_vkui--size_border_radius--regular);
  box-shadow: var(--demo_vkui--elevation4);
  font-family: -apple-system, system-ui, "Helvetica Neue", Roboto, sans-serif;
  position: fixed;
  bottom: 24px;
  left: 0;
  transform: translate(-100%, 0);
  transition: transform 320ms var(--demo_vkui--animation_easing_platform);
}

.VkIdWebSdk__snackbar_active {
  transform: translate(24px, 0);
}

.VkIdWebSdk__snackbar_icon {
  position: absolute;
  left: 16px;
  width: 28px;
  height: 28px;
}
