@import url('./styles/variables.css');
@import url('./styles/button.css');
@import url('./styles/snackbar.css');

html, body {
  margin: 0;
  padding: 0;
  background: var(--background_page);
}

html[data-scheme="dark"], html[data-scheme="dark"] body {
  background: black;
}

.VkIdWebSdk__container {
  display: flex;
  justify-content: center;
  padding: 30px 16px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  margin: 25px auto;
  max-width: 380px;
  background: #fff;
  border-radius: 12px;
}

html[data-scheme="dark"] .VkIdWebSdk__container {
  background: #1e1e1e;
  color: white;
  border: 1px solid #323232;
}

.VkIdWebSdk_controls {
  padding: 15px;
  background: #f1f1f1;
  border-radius: 5px;
}

html[data-scheme="dark"]  .VkIdWebSdk_controls {
  background: #777777;
  color: white;
}

.VkIdWebSdk__content {
  max-width: 650px;
  width: 300px;
  border-radius: 12px;
}

.VkIdWebSdk__content > *:not(:first-child) {
  margin: 24px 0;
}

.VkIdWebSdk__content > h1 {
  font-family: -apple-system, system-ui, "Helvetica Neue", Roboto, sans-serif;
}
