@import url('./styles/variables.css');
@import url('./styles/button.css');
@import url('./styles/snackbar.css');

html, body {
  margin: 0;
  padding: 0;
  background: var(--demo_background_page);
  font-family: -apple-system, system-ui, "Helvetica Neue", Roboto, sans-serif;
}

html[data-scheme="dark"], html[data-scheme="dark"] body {
  background: black;
}

select {
  display: block;
  width: 100%;
  margin-top: 8px;
  padding: 4px;
}

.VkIdWebSdk__container {
  display: flex;
  justify-content: center;
  padding: 30px 16px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  margin: 25px auto;
  width: 90%;
  max-width: 1080px;
  background: #fff;
  border-radius: 12px;
}

html[data-scheme="dark"] .VkIdWebSdk__container {
  background: #1e1e1e;
  color: white;
  border: 1px solid #323232;
}

.VkIdWebSdk_controls {
  padding: 15px;
  background: #f1f1f1;
  border-radius: 5px;
  min-width: 180px;
}

html[data-scheme="dark"]  .VkIdWebSdk_controls {
  background: #777777;
  color: white;
}

.VkIdWebSdk__content {
  width: 100%;
  padding: 0 24px;
  border-radius: 12px;
}

.VkIdWebSdk__content > section > *:not(:first-child) {
  margin: 24px 0;
}

.enableModule {
  padding: 12px 0 0;
  display: flex;
  flex-direction: column;
}

.VkIdWebSdk_controls > *:not(:first-child) {
  margin-top: 12px;
}

.VkIdWebSdk__floating_separator {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--demo_accent_alternate);
  border-radius: 8px;
}

.VkIdWebSdk__floating_separator.top {
  height: 260px;
  display: flex;
}
.VkIdWebSdk__floating_separator.bottom {
  display: none;
}

@media (max-width: 768px) {
  .VkIdWebSdk__container {
    flex-direction: column-reverse;
  }
  .VkIdWebSdk__content {
    padding: 0;
  }
}

@media (max-width: 480px) {
  .VkIdWebSdk__floating_separator.top {
    display: none;
  }
  .VkIdWebSdk__floating_separator.bottom {
    height: 380px;
    display: flex;
    margin-top: 12px;
  }
}

.tokenManager_list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tokenManager_user {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tokenManager_user > img {
  margin-right: 12px;
}

details > input {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 8px;
}
